
.container {
    
    display:grid;
    grid-template-columns: repeat(3,288px);
    padding: 1rem;
   
}
.title{
    font-size: .875rem;
}
.image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit:contain;
    background-color:  rgba(0, 0, 85, 0.02);
    border-radius: 5%;
;
}
.description{
    font-size: .875rem;
}
.money{
    font-size: 1rem;
}
.box{
    padding: 1rem;
    gap: .5rem;
}